.navbar {
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}

.nav-item {
  margin-left:5%;
  margin-right:5%;
  max-width: 100px;
}

.nav-link {
  color: #d97021;
}

.btn-primary {
  padding: 5px;
  margin: 5px;
  background-color: #d97021;
}

p.title {
  color: #d97021;
}